.progressBar__container {
    /* height: 4em; */
    width: 100%;
    display: flex;
    align-items: center;
    padding-inline: 2em;
    font-size: 1.4rem;
  }
    
  .progressBar {
    margin-inline: 0.5em;
    flex: 1;
    position: relative;
    background-color: var(--gray);
    border-radius: 4px;
  }
  
  .currentProgress {
    height: 0.4rem;
    /* margin: 0 2rem;
    flex: 1; */
    background-color: var(--blue);
    border-radius: 4px;
  }
  
  .progressLabel {
    position: absolute;
    top: 1em;
    color: var(--gray-line);
    font-size: 1rem;
    /* align the label to the center of its ending point */
    transform: translateX(-50%);
  }
  